@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 100%;
  height: 100vh;
}

body {
  padding: 1.333rem;
  background-color: #f6f6fe;
  background-image: url(../images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top -40px right -195px;
}
@media (min-width: 68.125rem) {
  body {
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-repeat: no-repeat no-repeat;
    background-position: top right, left bottom;
  }
}

.header {
  width: 100%;
  height: 100%;
  padding: 3.2rem 0 5.5rem 0;
}
@media (min-width: 68.125rem) {
  .header {
    padding: 3.5rem 0 4.2rem 0;
  }
}
.header__title {
  font-size: 2rem;
  color: #6d708d;
  text-align: center;
  padding-bottom: 2.8rem;
}
.header__switch {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}
.header__switch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 55px;
  height: 32px;
  background: linear-gradient(135deg, #a3a8f0, #696fdd);
  float: right;
  border-radius: 100px;
  position: relative;
  margin: 0 1.5rem;
}
.header__switch label:hover {
  background: #a3a8f0;
}
.header__switch label:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  background: #f6f6fe;
  border-radius: 90px;
  transition: 0.3s;
}
.header__switch input:checked + label {
  background: linear-gradient(135deg, #a3a8f0, #696fdd);
}
.header__switch input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
.header__switch label:active:after {
  width: 45px;
}
.header__switch p {
  color: #b3b5c6;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 68.125rem) {
  .main {
    flex-direction: row;
    justify-content: center;
  }
}
.main .box {
  width: 22.333rem;
  text-align: center;
  background-color: #fff;
  border-radius: 0.667rem;
  padding: 0 2rem;
  margin-bottom: 2.333rem;
  color: #6d708d;
  box-shadow: 0.5rem 2rem 2rem rgba(163, 168, 240, 0.2);
}
.main .box--accent {
  background: linear-gradient(135deg, #a3a8f0, #696fdd);
  color: #fff;
}
@media (min-width: 68.125rem) {
  .main .box--accent {
    padding: 1.5rem 2rem;
  }
}
.main .box__title {
  font-size: 1.2rem;
  padding-top: 2.333rem;
}
.main .box__price {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  color: #494c5f;
  padding: 1.2rem 0 1.6rem 0;
}
.main .box__price span {
  font-size: 2.5rem;
  padding-right: 0.333rem;
}
.main .box__price--accent {
  color: #fff;
}
.main .box__list {
  list-style: none;
  border-top: 0.067rem solid #b3b5c6;
  padding-bottom: 2.1rem;
}
.main .box__list li {
  padding: 1.1rem 0;
  border-bottom: 0.067rem solid #b3b5c6;
}
.main .box__link {
  font-size: 0.8rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.133rem;
  display: block;
  color: #fff;
  background: linear-gradient(135deg, #a3a8f0, #696fdd);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}
.main .box__link:hover {
  background: transparent;
  outline: 0.133rem solid #6d708d;
  color: #696fdd;
}
.main .box__link--accent {
  background: #fff;
  color: #696fdd;
}
.main .box__link--accent:hover {
  background: transparent;
  outline: 0.133rem solid #fff;
  color: #fff;
}
@media (min-width: 68.125rem) {
  .main .box:first-child {
    border-radius: 0.667rem 0 0 0.667rem;
  }
}
@media (min-width: 68.125rem) {
  .main .box:last-child {
    border-radius: 0 0.667rem 0.667rem 0;
  }
}

.attribution {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 300;
  padding: 1rem;
  color: #b3b5c6;
}
.attribution a {
  color: #b3b5c6;
}
.attribution a:hover {
  color: #6d708d;
}
/*# sourceMappingURL=main.css.map */
