//Colors

$gradient-primary: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));

$color-very-light: hsl(240, 78%, 98%); //very light grayish blue
$color-light: hsl(234, 14%, 74%); //light greyish blue
$color-grayish: hsl(233, 13%, 49%); //grayish blue
$color-grayish-dark: hsl(232, 13%, 33%); //dark grayish blue

//Fonts
$font-main: "Montserrat", sans-serif;
