@import "./fonts";
@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: $font-main;
  font-weight: 700;
  width: 100%;
  height: 100vh;
}

body {
  padding: 1.333rem;
  background-color: $color-very-light;
  background-image: url(../images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top -40px right -195px;
  @include desktop {
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-repeat: no-repeat no-repeat;
    background-position: top right, left bottom;
  }
}

.header {
  width: 100%;
  height: 100%;
  padding: 3.2rem 0 5.5rem 0;
  @include desktop {
    padding: 3.5rem 0 4.2rem 0;
  }
  &__title {
    font-size: 2rem;
    color: $color-grayish;
    text-align: center;
    padding-bottom: 2.8rem;
  }
  &__switch {
    display: flex;
    justify-content: center;
    align-items: center;
    input[type="checkbox"] {
      height: 0;
      width: 0;
      visibility: hidden;
    }

    label {
      cursor: pointer;
      text-indent: -9999px;
      width: 55px;
      height: 32px;
      background: $gradient-primary;
      float: right;
      border-radius: 100px;
      position: relative;
      margin: 0 1.5rem;
      &:hover {
        background: $color-hover;
      }
    }

    label:after {
      content: "";
      position: absolute;
      top: 4px;
      left: 4px;
      width: 24px;
      height: 24px;
      background: $color-very-light;
      border-radius: 90px;
      transition: 0.3s;
    }

    input:checked + label {
      background: $gradient-primary;
    }

    input:checked + label:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }

    label:active:after {
      width: 45px;
    }
    p {
      color: $color-light;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop {
    flex-direction: row;
    justify-content: center;
  }
  .box {
    width: 22.333rem;
    text-align: center;
    background-color: $color-box-bg;
    border-radius: 0.667rem;
    padding: 0 2rem;
    margin-bottom: 2.333rem;
    color: $color-grayish;
    box-shadow: 0.5rem 2rem 2rem rgba($color-hover, 0.2);
    &--accent {
      background: $gradient-primary;
      color: $color-box-bg;
      @include desktop {
        padding: 1.5rem 2rem;
      }
    }
    &__title {
      font-size: 1.2rem;
      padding-top: 2.333rem;
    }
    &__price {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4.8rem;
      color: $color-grayish-dark;
      padding: 1.2rem 0 1.6rem 0;
      span {
        font-size: 2.5rem;
        padding-right: 0.333rem;
      }
      &--accent {
        color: $color-box-bg;
      }
    }
    &__list {
      list-style: none;
      border-top: 0.067rem solid $color-light;
      padding-bottom: 2.1rem;
      li {
        padding: 1.1rem 0;
        border-bottom: 0.067rem solid $color-light;
      }
    }
    &__link {
      font-size: 0.8rem;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 0.133rem;
      display: block;
      color: $color-box-bg;
      background: $gradient-primary;
      border-radius: 0.5rem;
      padding: 1rem;
      margin-bottom: 2rem;
      &:hover {
        background: transparent;
        outline: 0.133rem solid $color-grayish;
        color: $color-link;
      }
      &--accent {
        background: $color-box-bg;
        color: $color-link;
        &:hover {
          background: transparent;
          outline: 0.133rem solid $color-box-bg;
          color: $color-box-bg;
        }
      }
    }
    &:first-child {
      @include desktop {
        border-radius: 0.667rem 0 0 0.667rem;
      }
    }
    &:last-child {
      @include desktop {
        border-radius: 0 0.667rem 0.667rem 0;
      }
    }
  }
}

.attribution {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 300;
  padding: 1rem;
  color: $color-light;
  a {
    color: $color-light;
  }
  a:hover {
    color: $color-grayish;
  }
}
